@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  min-width: 150px;
}

.buttons {
  display: flex;
  gap: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #F0F8FF;
  font-size: small;
}


ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(69, 69, 69);
}